/*
Margin y Padding General
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
Todas las clases col-
*/
[class*="col-"] {
	flex: none;
}

/*
Estilo del body
*/
body {
	font-family: 'Kalam', cursive;
}

/*
Estilos del Header
*/
header {
	font-family: 'Kalam', cursive;
	background-color: #8B2459;
	color: #fff;
	height: 3em;
	padding: 1%;
	font-size: 1.1em;
}

/*
Hover del Header
*/
header:hover {
	cursor: pointer;
	color: #F295DF;
}

/*
Sacamos la decoración de los anchord
*/
a {
	text-decoration: none;
	color: #fff;
}

/*
Hover de los anchord
*/
a:hover {
	color: #F295DF;
	cursor: pointer;
}

/*
Estilos del banner de la página
*/
.banner-image {
	width: 100%;
	height: 25em;
	object-fit: cover;
	opacity: 0.6;
	background-image: url(../img/lasandiaaa.jpg);
	text-align: center;
	padding: 11%;
	color: #696666;
}

/*
Tamaño del titulo dentro del banner
*/
.kawaii {
	display: inline-block;
	font-size: 5em;
}

button {
	background-color: #A00BB6;
	color: #fff;
	font-family: 'Kalam', cursive;
	font-size: 1em;
	padding: 1%;
	border-radius: 15px 50px 30px 5px;
	border: none;
}

button:hover {
	color: #fff;
	cursor: pointer;
	background-color: #F9A8CE;
}

.pictures {
	margin-top: 5%;
}

.note, .cats, .bears {
	width: 18.75em;
	height: 12.5em;
	border-radius: 15px 50px 30px;
	object-fit: cover
}

footer {
	text-align: center;
	background-color: #8B2459;
	height: 5em;
	color: #fff;
	padding: 2%;
	margin-top: 5%;
}

